body {
    background-color: #FFFFFF; /* Set background color to white */
    font-family: "Siddhanta-cakravat";
    text-align: center;
  }

ol.toc li { list-style-type: none; margin: 0; padding: 0; }

#TOC ul {
  list-style-type:none;
  }

#TOC {
  text-align: left;
}

h1 h2 {
  font-size: large;
  font-weight: bold;
}

.subtitle {
  font-size: medium;
  font-weight: bold;
  text-decoration: underline;
}

.chandas {
  font-style: italic;
  text-decoration: underline;
}

.vidhi {
  font-size: small;
  line-height: 150%;
  font-style: italic;
}
