body {
    background-color: #FFFFFF; /* Set background color to white */
    font-family: "Siddhanta-cakravat";
    /*text-align: center;*/
  }

ol.toc li { list-style-type: none; margin: 0; padding: 0; }

#TOC ul {
  list-style-type:none;
  }

#TOC {
  text-align: left;
}

.title .h1 .h2 {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.reference {
  font-size: medium;
  font-weight: bold;
  text-decoration: underline;
}

.vidhi {
  font-size: x-small;
  line-height: 150%;
}

